<form class="form" *ngIf="!authService.getUser()">
	<div class="form-group">
		<label for="username">User</label>
		<input class="form-control" placeholder="Type your username" name="username" #username>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input class="form-control" type="password" placeholder="Type your password" #password>
	</div>
	<a class="btn btn-primary" href="#" (click)="login(username.value, password.value)">Login!</a>
  {{mensajeError}}
</form>
<p *ngIf="authService.getUser()"> You are already logged in </p>
<a class="btn btn-primary" href="#" (click)="logout()" *ngIf="authService.getUser()">Logout!</a>